<header class="header">
    <div class="container header-flex">

        <!-- LOGO -->
        <div class="logo">
            <a href="/">Universal Services</a>
        </div>

        <!-- NAV -->
        <nav class="nav">
            <a href="/">Home</a>
            <a href="/tools/word-counter">Word Counter</a>
            <a href="/tools/password-generator">Password</a>
            <a href="/tools/age-calculator">Age</a>
            <a href="/tools/percentage-calculator">%</a>
            <a href="/tools/base64-encoder-decoder">Base64</a>
        </nav>

    </div>
</header>